@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global app styles */
html { scroll-behavior: smooth; }

/* hide horizontal scrollbar for touch galleries */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

body { background: #fffaf5; }
